<h1>New Employee</h1>
<form method="post">
    <div class="mt-3">
    <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{employee.name}}" class="form-control"/>
        {{#errors.name}}<small class="text-warning">{{errors.name}}</small>{{/errors.name}}
    </div>

    <div class="mt-3">
    <label for="surname">Surname</label>
        <input type="text" name="surname" id="surname" value="{{employee.surname}}" class="form-control"/>
        {{#errors.surname}}<small class="text-warning">{{errors.surname}}</small>{{/errors.surname}}
    </div>

    <div class="mt-3">
    <label for="job">Job</label>
        <input type="text" name="job" id="job" value="{{employee.job}}" class="form-control"/>
        {{#errors.job}}<small class="text-warning">{{errors.job}}</small>{{/errors.job}}
    </div>

    <div class="mt-3">
    <label for="wage">Wage</label>
        <input type="text" name="wage" id="wage" value="{{employee.wage}}" class="form-control"/>
        {{#errors.wage}}<small class="text-warning">{{errors.wage}}</small>{{/errors.wage}}
    </div>

    <div class="mt-3">
    <label for="room">Room</label>
        <input type="text" name="room" id="room" value="{{employee.room}}" class="form-control"/>
        {{#errors.room}}<small class="text-warning">{{errors.room}}</small>{{/errors.room}}
    </div>

    <div class="mt-3">
    <label for="login">Login</label>
        <input type="text" name="login" id="login" value="{{employee.login}}" class="form-control"/>
        {{#errors.login}}<small class="text-warning">{{errors.login}}</small>{{/errors.login}}
    </div>

    <div class="mt-3">
    <label for="password">Password</label>
        <input type="password" name="password" id="password" value="{{employee.password}}" class="form-control"/>
        {{#errors.password}}<small class="text-warning">{{errors.password}}</small>{{/errors.password}}
    </div>

    <div class="mt-3">
        <input type="hidden" name="employee_id" value="{{employee.employee_id}}">
        <input type="hidden" name="action" value="{{action}}"/>
        <input type="submit" value="{{action}}" class="btn btn-primary" />
    </div>

</form>